div#dynabute-form
= javascript_pack_tag 'dynabute_form/form'

javascript:
  $('#dynabute-form').data({
    modelId: #{raw @article.id.to_json.html_safe},
    controllerName: #{raw controller_name.to_json.html_safe}
  });

